<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Message</title>
</head>
<body>
    <form method="POST" action="/new">
        <div>
            <label for="authorsName">Your Name: </label>
            <input type="text" id="authorsName" name="aName"/>
            </div>
        <div>
            <label for="message">Leave a Message: </label>
            <input type="text" id="message" name="aMessage"/>
            </div>
        <div>
            <button>Submit</button>
        </div>
    </form>    
</body>
</html>